<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
        <ion-icon name="clipboard"></ion-icon>
      <ion-label>All Items</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
        <ion-icon name="logo-buffer"></ion-icon>
      <ion-label>Items by Store</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
        <ion-icon name="pricetags"></ion-icon>
      <ion-label>Recently Bought</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
