ion-refresher-content {
  padding-bottom: 100px;
  background-color: #dedede;
}
ion-footer{
  font-size:10px;
  text-align: center;
}
.helpbutton{
  float: right;
}
ion-fab-button{
  margin-bottom: 40px;
}
ion-icon{
  font-size: 30px;
}
.infobutton{
  float: left;
}
.myfont{
  font-family: 'Nunito', sans-serif;
}
.mybackground{
  background-color: #e7bdff;
}
.mylistbackground{
background-color: rgb(167, 143, 143)
}

