<head>
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  </head>

<ion-header>
    <ion-toolbar>
      <ion-title class="myfont">
        Recently Bought
      </ion-title>
      <ion-button class="helpbutton" (click)="showHelp()" shape="round" size="small">
      <ion-icon name="school"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content class="myfont"
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>
      <div class="ion-padding">
          <ion-list>
            <ion-item-sliding class="mylistbackground" *ngFor="let it of itemsBought">
              <ion-item class="myfont" button="true">
                  <span style="font-weight: bold">{{it.title}}</span>| <span *ngIf="it.quantity">Količina: {{it.quantity}}; </span><span *ngIf="it.price"> Cijena: {{it.price}}</span>
              </ion-item>
              <ion-item-options side="end">
                <ion-item-option color="primary" (click)="restoreItem(it)">
                <ion-icon name="arrow-round-back"></ion-icon>
                </ion-item-option>

                <ion-item-option color="danger" (click)="deleteItem(it)">
                <ion-icon name="trash"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
            
          </ion-list>
        </div>
    </ion-content>
  <ion-footer>
    <ion-toolbar class="myfont">
      Jelena Malinarić - POINT - Izrada aplikacija za mobilne platforme
    </ion-toolbar>
  </ion-footer>