<head>
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
</head>

<ion-header>
  <ion-toolbar>
    <ion-title class="myfont">Item details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="save()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label class="myfont">Title:</ion-label>
    <ion-input class="myfont" [(ngModel)]="item.title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="myfont">Store:</ion-label>
    <ion-input class="myfont" [(ngModel)]="item.store"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="myfont">Quantity:</ion-label>
    <ion-input class="myfont" [(ngModel)]="item.quantity"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="myfont">Price:</ion-label>
    <ion-input class="myfont" [(ngModel)]="item.price"></ion-input>
  </ion-item>

  <ion-button (click)="takePicture()">
    <ion-icon name="camera"></ion-icon>
  </ion-button>

  <div>
    <img [src]="getImage()">
  </div>
</ion-content>